body {
    font-family: "Hiragino Sans", "Yu Gothic", Arial, sans-serif;
    text-align: center;
    padding: 25px;
    margin: 0;
    color: #262626;
    background-color: #fafafa;
}

.container {
    max-width: 850px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* セレクトやテキストエリア */
select,
textarea {
    width: 100%;
    padding: 18px;
    margin-top: 18px;
    border-radius: 16px;
    border: 1px solid #cfcfcf;
    font-size: 20px;
    box-sizing: border-box;
}

/* テキストエリア高さ */
textarea {
    height: 380px;
    resize: vertical;
    text-align: left;
    line-height: 1.7;
}

/* ボタン */
button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 18px 0;
    border: none;
    border-radius: 14px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    transition: 0.25s;
}

button:hover {
    background-color: #0056b3;
}

/* コピー & txt保存の2ボタン */
.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    font-size: 20px;
    background-color: #5cadff;
}
.buttons button:hover {
    background-color: #3b8fe3;
}

/* スマホ改善 */
@media (max-width: 650px) {
    body {
        padding: 16px;
    }
    h2 {
        font-size: 50px;
    }
    select,
    textarea,
    button {
        font-size: 30px;
        padding: 16px;
    }
    .buttons {
        flex-direction: column; /* 縦並びで押しやすく */
    }
    textarea {
        height: 1000px;
    }
}
